body {background-color:black;font-family:arial;color:white}

h1{
    color:grey;
    font-family:verdana;
    font-size: 25px;
}


.maindiv {
    background-color:white;
    color:black;
    width:400px;
    margin: auto;
    padding: 70px;
    border-radius:25px;
    align:center;
}

.highlight{
    background-color: red;
}

